@model IEnumerable<MVCBlogTez.Models.Slider>
@{
    int sayac = 0;
    string active = "";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @foreach (var Slider in Model)
        {
            if (sayac == 0) { active = "active"; }
            else { active = ""; }

            <div class="carousel-item @active">
                <img class="d-block w-100" src="@Slider.FotografKonum" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@Slider.SliderBaslik</h5>
                    <p>@Slider.SliderIcerik</p>
                </div>
            </div>

            sayac++;
        }
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

